/* Google Fonts Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* page properties */
html {
    font-size: 16px;
    --vertclair : #a0cb23;
    --vertfonce : #14462d;
    --rougehot : #da485b;
    --turquoise : linear-gradient(135deg,#92ddd8,#95dcd6);
    --orange : linear-gradient(135deg,#fb9823,#f58313);
    --vert : linear-gradient(135deg,#afe223,#a0cb23);
    --gris: #f6fafb;
    --jaune: #fffc00;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}
/* end page properties */

/* Helpers */
.textcenter {
    text-align: center;
}

.marges {
    margin: 0 21%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.spacearound {
    justify-content: space-around;
}

.spacebetween {
    justify-content: space-between;
}

.jusifycenter {
    justify-content: center;
}

.justifyend {
    justify-content: flex-end;
}

.aligncenter {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.nostyle {
    list-style-type: none;
}

.btn1{
    color:#fff;
    padding: 15px 20px;
    font-size: 1.1em;
    text-transform: uppercase;
}

.vertclair {
    background: var(--vertclair);
}

.vertfonce {
    background: var(--vertfonce);
}

/* end helpers */

/* Headbar */
.bgfruit {
    background-image: url('../img/bg_fruit.png');
    width: 336px;
    height: 442px;
    position: absolute;
    top:0;
    left:0;
}

header {
    background: url(../img/banner.jpg);
    height: 900px;
}

.headbar nav {
    width: 40%;
}

.headbar nav li{
    cursor: pointer;
}

.headbar nav li:hover{
    background: #000;
    color: #fff;
}

.headbar i {
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    font-size: 0.8em;
    color: var(--vertclair);
}

.headbar i:hover{
    cursor: pointer;
    background: var(--vertclair);
    color: #fff;
}
/*end headbar*/

/*banner */

h1 {
    font-weight: 100;
    font-size: 4em;
}

.banner {
    width: 30%;
    height:70%;
}


.banner div:first-of-type p:first-of-type{
    color: var(--vertclair);
}

.banner div:first-of-type p {
    font-size: 1.5em;
}

.banner div:nth-of-type(2) {
    width: 70%;
}

/*end of banner */

/* start main content */

/*début trois photos */
.mainbar {
    color:#fff;
    align-items: center;
    height:500px;
}

.box {
    width: 30%;
    aspect-ratio: 1.4;
}

.box div:first-of-type{
    width: 40%;

}

.box div:nth-last-child(1) {
    width: 60%;
    height: 100%;
    align-self: flex-end;
    background-repeat: no-repeat;
}

.mainbar p {
    text-transform: uppercase;
}

.turquoise {
    background: var(--turquoise);
}

.turquoise div:nth-last-child(1) {
    background-image: url(/assets/img/legumes.png);
}

.orange {
    background: var(--orange);
}

.orange div:nth-last-child(1) {
    background-image: url(/assets/img/boisson.png);
}

.vert {
    background: var(--vert);
}

.vert div:nth-last-child(1) {
    background-image: url(/assets/img/beaute.png);
}

/* fin trois photos */

/*début produits populaires */

.populaires {
    width:25%;
    margin:auto;
}

.populaires p {
    color:var(--vertclair);
}

.populaires h3 {
    font-size:2em;

}