/* Google Fonts Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* page properties */
html {
    font-size: 16px;
    --vertclair : #a0cb23;
    --vertfonce : #14462d;
    --rougehot : #da485b;
    --turquoise : #92ddd8 to #95dcd6;
    --orange : #fb9823 to #f58313;
    --vert : #afe223 to #a0cb23;
    --gris: #f6fafb;
    --jaune: #fffc00;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}
/* end page properties */

/* Helpers */

.marges {
    margin: 0 21%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.spacearound {
    justify-content: space-around;
}

.spacebetween {
    justify-content: space-between;
}

.jusifycenter {
    justify-content: center;
}

.aligncenter {
    align-items: center;
}

.nostyle {
    list-style-type: none;
}

.btn1{
    color:#fff;
    padding: 15px 30px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.vertclair {
    background: var(--vertclair);
}

.vertfonce {
    background: var(--vertfonce);
}

/* end helpers */

/* Headbar */
.bgfruit {
    background-image: url('../img/bg_fruit.png');
    width: 552px;
    height: 571px;
    position: absolute;
    top: 0;
    left: 0;
}

header {
    background: url(../img/banner.jpg);
    height: 968px;
}

.headbar nav {
    width: 40%;
}

/*pour réaligner le logo au bord gauche de son conteneur */
.headbar img{
    margin-left: -37px;
}

.headbar nav li{
    cursor: pointer;
}

.headbar nav li:hover{
    background: #000;
    color: #fff;
}

.headbar i {
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    font-size: 0.8em;
    color: var(--vertclair);
}

.headbar i:hover{
    cursor: pointer;
    background: var(--vertclair);
    color: #fff;
}
/*end headbar*/

/*banner */

h1 {
    font-weight: 100;
    font-size: 4em;
}

.banner {
    width: 30%;
}

.banner div:first-of-type p:first-of-type{
    color: var(--vertclair);
}



